version: "3.9"

services:
  home-free-stairs:
    image: home-free-stairs-dev
    container_name: home-free-stairs-dev
    build: .
    ports:
      - "4321:4321"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
