@font-face {
  font-family: 'Qurova';
  src: url('/src/assets/fonts/Qurova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qurova';
  src: url('/src/assets/fonts/Qurova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
