---

import { BASE_URL } from '~/utils/apliInstance';
import logo from '/public/assets/hfslog.png';
import logo2 from '/public/assets/hfslog2.png';
 export interface Props {
  globalData?: any
 }
const {globalData} = Astro.props;

---

<span class="flex items-center gap-2">
  <!-- <img
    src={logo2.src}
    class="h-20 md:h-20 w-auto object-contain dark:hidden"

    alt="Light Logo"
  /> -->
  <img
    src={globalData?.logo?`${BASE_URL}/assets/${globalData?.logo}`: logo.src}
    class="h-20 md:h-20 w-auto object-contain "
    alt="Dark Logo"
  />
</span>

