---
import CommonMeta from '~/components/common/CommonMeta.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
import Analytics from '~/components/common/Analytics.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import '~/assets/styles/tailwind.css';
import '~/styles/global.css';
import type { MetaData as MetaDataType } from '~/types';
import Favicons from '~/components/Favicons.astro';
import favIcon from '~/assets/favicons/favicon.ico';

export interface Props {
  metadata?: any;
}

const { metadata = {} } = Astro.props;

---

<!doctype html>
<html class="2xl:text-[20px]">
  <head>
    <style is:global>
      body::before {
        content: '';
        font-family: 'Qurova', ui-sans-serif, system-ui;
        visibility: hidden;
      }
    </style>
<link rel="shortcut icon" href={favIcon} />

  <meta property="og:image" content={metadata.ogImage} />

      <!-- <Favicons /> -->
    <CommonMeta />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <BasicScripts />
  </body>
</html>
