---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer2 from '~/components/widgets/Footer2.astro';
import '~/styles/global.css';
import type { MetaData } from '~/types';
import { headerData } from '~/navigation';

export interface Props {
  metadata?: MetaData;
}
export interface Props {
  headerText?: string;
}

const { metadata ,headerText} = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme  headerText={headerText}/>
  </slot>

  <main>
    <slot />
  </main>

  <slot name="footer">
    <Footer2 />
  </slot>
</Layout>
